DataBase/Project3/Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Users" type="UsersType" />
	<xs:complexType name="UsersType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="tblUsers" type="tblUsersType" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tblUsers" type="tblUsersType" />
	<xs:complexType name="tblUsersType">
		<xs:sequence>
			<xs:element name="Team" type="TeamType" />
			<xs:element name="Country" type="CountryType" />
			<xs:element name="Project" type="ProjectType" />
			<xs:element name="RegisterDate" type="RegisterDateType" />
			<xs:element name="AvgScorePerDay" type="AvgScorePerDayType" />
			<xs:element name="AllScore" type="AllScoreType" />
		</xs:sequence>
		<xs:attribute name="UserID" type="xs:string" use="required" />
		<xs:attribute name="UserName" type="xs:string" use="required" />
	</xs:complexType>
	<xs:element name="Team" type="TeamType" />
	<xs:complexType name="TeamType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Country" type="CountryType" />
	<xs:complexType name="CountryType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Project" type="ProjectType" />
	<xs:complexType name="ProjectType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="RegisterDate" type="RegisterDateType" />
	<xs:complexType name="RegisterDateType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="AvgScorePerDay" type="AvgScorePerDayType" />
	<xs:complexType name="AvgScorePerDayType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="AllScore" type="AllScoreType" />
	<xs:complexType name="AllScoreType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>